@use "@angular/material" as mat;

@include mat.core();

$primary: mat.define-palette(mat.$red-palette, 600, 400, 800);
$accent:  mat.define-palette(mat.$grey-palette, 500);
$warn:    mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($theme);
