<div class="login-container">

  <mat-card class="login-card">

    <h2>ProtecBag</h2>

    <form (ngSubmit)="submit()" [formGroup]="form">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit">
        Entrar
      </button>

      <p class="error" *ngIf="errorMessage">
        {{ errorMessage }}
      </p>

    </form>

  </mat-card>
</div>
