<h2>{{ isEditing ? 'Editar Produto' : 'Novo Produto' }}</h2>

<form [formGroup]="form" (ngSubmit)="save()">

  <mat-form-field appearance="outline" class="full">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="outline" class="half">
    <mat-label>Quantidade</mat-label>
    <input matInput type="number" formControlName="quantity">
  </mat-form-field>

  <mat-form-field appearance="outline" class="half">
    <mat-label>Unidade</mat-label>
    <mat-select formControlName="unit">
      <mat-option value="un">Unidade</mat-option>
      <mat-option value="rolo">Rolo</mat-option>
      <mat-option value="caixa">Caixa</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="half">
    <mat-label>Quantidade mínima</mat-label>
    <input matInput type="number" formControlName="minimumQuantity">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Observações</mat-label>
    <textarea matInput formControlName="notes"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    Salvar
  </button>

  <button mat-button (click)="router.navigate(['/products'])">
    Cancelar
  </button>
</form>
